body {
  font-family: Noto Sans KR;
  background: var(--page-bg);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--header-text-on);
}

ul,
li,
button,
input,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

:root {
  --page-bg: #1e1e1e;
  --header-bg: rgba(0, 0, 0, 0.8);
  --header-text-on: #ffffff;
  --header-text-off: #767676;
  --header-text-hover: #d9d9d9;
}

a {
  text-decoration: none;
}

.mainBanner {
  width: 100%;
  height: 67.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #141414;
  gap: 1rem;
}

/*Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: var(--header-bg);
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
}

header {
  opacity: 1;
}

.header_btn {
  color: var(--header-text-off);
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: 0.3s ease-out;
}

.header_btn:hover {
  color: var(--header-text-hover);
}

.header_btn.active {
  color: var(--header-text-on);
}

.header_container {
  width: 75%;
}

.button {
  display: flex;

  height: 5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

/*Header검색창*/
.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.063rem solid #fff;
  border-style: inset;
  width: 13.5rem;
  padding: 0.5rem 0.75rem;
}

#searchInput::placeholder {
  width: 9.75rem;
  color: var(--header-text-off);
  text-align: start;
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#searchInput {
  width: 9.75rem;
  border: none;
  outline: none;
  background: none;
  color: var(--header-text-on);
  text-align: start;
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#searchButton {
  border: none;
  background: none;
}

.autocompleteList {
  height: 13.5rem;
  overflow-y: scroll;
  margin-top: 0.75rem;
  position: absolute;
  border-radius: 0.5rem;
  border: 0.063rem solid #fff;
  border-style: inset;
  background: var(--page-bg);
  width: 15rem;
}

.autocompleteList::-webkit-scrollbar {
  width: 0.75rem;
}

.autocompleteList::-webkit-scrollbar-thumb {
  background: linear-gradient(#35f695, #98d6ff);
  border-radius: 1rem;
}

.autocompleteList::-webkit-scrollbar-track {
  width: 1rem;
  background-color: var(--header-text-off);
  border-radius: 0 0.4rem 0.4rem 0;
}

.autocompleteList li {
  color: var(--header-text-off);
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.75rem;
}

.autocompleteList li:hover {
  cursor: pointer;
  color: var(--header-text-on);
}

main {
  margin: 0 15rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem;
}

main section:first-child {
  margin-top: 3.75rem;
}

/*Profile Search page*/
#personalProfile {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.contentsWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#personalProfile .contentsWrap {
  display: flex;
  width: 90rem;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 3rem 1.5rem;
  flex-wrap: wrap;
}

.profileCard {
  display: flex;
  width: 21.375rem;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  border-radius: 0.75rem;
  border-top: 1px solid #3dd6b1;
  background: #141414;
}

.profileImg {
  width: 18.375rem;
  height: 21.1875rem;

  border-radius: 0.75rem;
}

.profileCardName {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

/*폰트*/

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

/*section 프로페서*/
#professor .contentsWrap {
  width: 90rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

#professor .container {
  display: flex;
  width: 39.75rem;
  padding: 2.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;

  border-radius: 0.75rem;
  border-top: 1px solid #3dd6b1;
  background: #141414;
}
.character {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.contentsBox {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.professorImg {
  width: 11.75rem;
  height: 15.375rem;

  border-radius: 0.75rem;
}

.professorInfo {
  display: flex;
  height: 15.375rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.history .subtle.medium {
  margin-bottom: 0.25rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.contact .contactWrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*section 컨테이너 *특수*/

.cardBtn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
}

.cardBtn.left {
  left: 0;
}

.cardBtn.right {
  right: 0;
}

.minImg {
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.selectBg {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-radius: 0.75rem;
  background: #141414;
}

.selectBg:first-child {
  background: #383838;
}

.selectArea {
  display: flex;
  width: 19.875rem;
  height: 40.125rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem 0 0 0.75rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.selectArea::-webkit-scrollbar {
  width: 0.5rem;
}

.selectArea::-webkit-scrollbar-thumb {
  background: linear-gradient(#35f695, #98d6ff);
}

.selectArea::-webkit-scrollbar-track {
  width: 0.5rem;
  background-color: var(#383838);
}

.select {
  display: flex;
  height: 4.5rem;
  width: 19.875rem;
  padding-left: 0px;
  align-items: center;
  gap: 1.5rem;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.select:hover {
  background: var(--header-text-hover);
}

.selectListModal {
  display: none;
}

.selectText {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.selectText p {
  color: var(--header-text-off);
  font-family: Noto Sans KR;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.contactWrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  display: none;
}

.contactWrap p {
  color: var(--header-text-off);
  font-family: Noto Sans KR;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.select.active {
  display: flex;
  width: 19.875rem;
  height: 6rem;
  align-items: flex-start;
  gap: 1.5rem;

  border-bottom: 2px solid #3dd6b1;
}

.select.active.default {
  display: none;
}

.openSelectBtn {
  display: none;
}

.select.active:hover {
  background: none;
}

.select.active .minImg {
  margin-top: 1rem;
  width: 3.75rem;
  height: 3.75rem;
}

.select.active .contactWrap {
  display: flex;
}

.select.active .selectText p {
  color: var(--header-text-on);
  font-family: Noto Sans KR;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.select.active .contactWrap p {
  color: var(--header-text-on);
  font-family: Noto Sans KR;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projectsContainer {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0 0.75rem 0.75rem 0;
  background: #141414;
  border-left: 1px solid #707070;
  box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.projectsSlider {
  display: flex; /* 프로젝트 카드들을 가로로 나열 */

  overflow: none;
  gap: 1.5rem;
}

.cardBtn {
  display: none;
}

.projectCard {
  cursor: pointer;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  border-radius: 0.75rem;
  border-top: 1px solid #3dd6b1;
  background: #141414;
  transition: 0.3s ease-out;

  position: relative;
  bottom: 0px;
}

.projectCard:hover {
  position: relative;
  bottom: 0.5rem;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.15);
}

.projectImg {
  width: 18.375rem;
  height: 26rem;

  border-radius: 0.75rem;
}

.projectCard p {
  width: 18.375rem;
  height: 3.5625rem;

  overflow-y: scroll;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

p::-webkit-scrollbar {
  width: 0.75rem;
}

/*section 컨테이너 *4*/

@media (max-width: 488px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }

  .header_container {
    width: 90%;
  }
  .button {
    display: flex;
    height: 5rem;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
  }
  .button a {
    width: 2rem;
  }

  .searchButton {
    width: 1.5rem;
    height: 1.5rem;
  }

  .header_btn {
    color: var(--header-text-off);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /*Header검색창*/
  .searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.063rem solid #fff;
    border-style: inset;
    width: 9.625rem;
    padding: 0.5rem 0.75rem;
  }

  #searchInput::placeholder {
    width: 9.75rem;
    color: var(--header-text-off);
    text-align: start;
    font-family: Noto Sans KR;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #searchInput {
    width: 7.25rem;
    border: none;
    outline: none;
    background: none;
    color: var(--header-text-on);
    text-align: start;
    font-family: Noto Sans KR;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #searchButton {
    border: none;
    background: none;
  }

  .autocompleteList {
    width: 11.5rem;
    height: 13.5rem;
    overflow-y: scroll;
    margin-top: 0.75rem;
    position: absolute;
    border-radius: 0.5rem;
    border: 0.063rem solid #fff;
    border-style: inset;
    background: var(--page-bg);
  }

  .autocompleteList::-webkit-scrollbar {
    width: 0.75rem;
  }

  .autocompleteList::-webkit-scrollbar-thumb {
    background: linear-gradient(#35f695, #98d6ff);
    border-radius: 1rem;
  }

  .autocompleteList::-webkit-scrollbar-track {
    width: 1rem;
    background-color: var(--header-text-off);
    border-radius: 0 0.4rem 0.4rem 0;
  }

  .autocompleteList li {
    color: var(--header-text-off);
    font-family: Noto Sans KR;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.75rem;
  }

  .autocompleteList li:hover {
    cursor: pointer;
    color: var(--header-text-on);
  }

  main {
    align-items: center;
    gap: 3.75rem;
  }

  h1 {
    color: #fff;
    font-family: Inter;
    font-size: 1.5rem;
  }
  /*section 프로페서*/
  #professor .contentsWrap {
    width: 20rem;
    gap: 1.5rem;
  }

  #professor .container {
    width: 18.5rem;
    padding: 0.75rem;
    gap: 0.75rem;
    flex-shrink: 0;
  }
  .character {
    font-size: 1rem;
  }
  .contentsBox {
    gap: 0.75rem;
  }

  .professorImg {
    width: 7.5rem;
    height: 9.875rem;

    border-radius: 0.75rem;
  }

  .professorInfo {
    width: 10.25rem;
    height: 9.875rem;
  }
  .history {
    gap: 0.25rem;
  }

  .history .subtle.medium {
    font-size: 0.875rem;
    margin-bottom: 0rem;
  }

  .history p {
    font-size: 0.625rem;
    font-weight: 400;
  }

  .contact {
    gap: 0.5rem;
  }

  .contact .contactWrap {
    gap: 0.75rem;
  }
  .contactWrap p {
    font-size: 0.625rem;
  }

  /*section 컨테이너 *특수*/

  #underGraduate .contentsWrap {
    overflow: hidden;
    border-radius: 0.75rem;
  }

  .minImg {
    margin-left: 0rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }

  .selectBg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 20rem;

    border-radius: 0.75rem;
    background: #141414;
  }

  .selectBg:first-child {
    background: #383838;
    position: relative;
    z-index: 2;
  }

  .selectArea {
    display: flex;
    width: 20rem;
    height: 4.5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0rem;
  }

  .selectArea::-webkit-scrollbar {
    width: 0rem;
  }

  .selectList {
    display: none;
    overflow-y: scroll;
    position: relative;
  }
  .selectList::-webkit-scrollbar {
    width: 0rem;
  }

  .select {
    display: flex;
    height: 4.5rem;
    width: 20rem;
    padding-left: 1rem;
    align-items: center;
    gap: 1.5rem;
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  .select:hover {
    background: var(--header-text-hover);
  }

  .selectListModal {
    display: none;
    width: 20rem;
    height: 37.5rem;

    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;

    overflow-y: scroll;
    position: absolute;
    z-index: 2;

    background: #383838;
  }

  .selectListModal::-webkit-scrollbar {
    display: none;
  }

  .selectListModal .select {
    width: 19rem;
    transition: 0.3s ease-out;
  }

  .selectListModal .select.active {
    display: none;
    padding: 0.5rem;
    border-bottom: 2px solid #3dd6b1;
    background: #141414;
  }

  .selectListModal .select.active:hover {
    background: #141414;
  }

  .selectListModal .select.active .selectText {
    width: 12.375rem;
  }

  .select.active.default {
    display: flex;
  }

  .select.active {
    display: flex;
    width: 19rem;
    height: 4.75rem;
    padding: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 1.5rem;
    align-self: stretch;
    flex-wrap: wrap;

    border-bottom: 2px solid #3dd6b1;
  }

  .openSelectBtn {
    display: block;
  }

  .select.active:hover {
    background: none;
  }

  .selectText {
    display: flex;
  }

  .selectText p {
    color: var(--header-text-off);
    font-family: Noto Sans KR;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

  .openSelectBtn.open {
    transform: scaleY(-1); /* 버튼 상하반전 */
    animation: pulse 0.5s alternate infinite; /* 선택한 버튼을 깜박이는 애니메이션 */
  }

  @keyframes pulse {
    0% {
      transform: scaleY(-1);
    }
    100% {
      transform: scaleY(-1) translateY(-0px);
    }
  }

  .contactWrap {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    display: none;
  }

  .contactWrap p {
    color: var(--header-text-off);
    font-family: Noto Sans KR;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .select.active .minImg {
    margin-top: 0rem;
    width: 3rem;
    height: 3rem;
  }

  .select.active .contactWrap {
    display: none;
  }

  .select.active .selectText p {
    color: var(--header-text-on);
    font-family: Noto Sans KR;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

  .select.active .contactWrap p {
    color: var(--header-text-on);
    font-family: Noto Sans KR;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .projectsContainer {
    display: flex;
    padding: 0rem;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0.75rem 0.75rem 0;
    background: #141414;
    border-left: none;
    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .cardBtn {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }

  .cardBtn.left {
    left: 5vw;
  }

  .cardBtn.right {
    right: 5vw;
  }

  /* 페이드 아웃 애니메이션 */
  .fade-out {
    opacity: 0;
  }

  /* 페이드 인 애니메이션 */
  .fade-in {
    opacity: 1;
  }

  .projectsSlider {
    display: flex; /* 프로젝트 카드들을 가로로 나열 */
    gap: 0rem;
    padding: 0rem;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  .projectCard {
    cursor: pointer;
    display: flex;
    padding: 1.5rem 2.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    border-radius: 0.75rem;
    border-top: 0px;
    background: #141414;
    transition: none;
  }

  .projectCard:hover {
    position: relative;
    bottom: 0rem;
    box-shadow: none;
  }

  .slide-in {
    transform: translateX(0);
  }

  .slide-out-left {
    transform: translateX(-100%);
  }

  .slide-out-right {
    transform: translateX(100%);
  }

  .projectImg {
    width: 15.5rem;
    height: 22rem;

    border-radius: 0.75rem;
  }

  .projectCard p {
    width: 15.5rem;
    height: 3.5625rem;

    overflow-y: scroll;
    color: #fff;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  p::-webkit-scrollbar {
    width: 0.75rem;
  }

  #personalProfile .contentsWrap {
    display: flex;
    width: 20rem;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 3rem 1.5rem;
    flex-wrap: wrap;
  }
}
